/*Página de adoção*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {

    --colorOne: #385c16;
    --colorTwo: #fffaf0;
    --colorThree: #694730;
    --colorFour: #7eb77f;
    --colorFive: rgb(65, 30, 2);
    --colorSix: rgb(84, 223, 116);
    --colorSeven: rgb(49, 184, 81);
}

.adocao {
    padding: 3%;
    text-align: center;
    font-size: 0.875rem;
    padding-bottom: 2%;
    padding-top: 2%;
    color: var(--colorFive);
    font-family: 'Nunito', cursive;
}

#adocao-body {
    display: grid;
    /*colocar em formato de grade*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.938rem;
    /*descolar um post do outro*/
    padding: 5%;
    justify-items: center;
    /* colocar tudo central*/

}

.pet-adocao {
    background-color: var(--colorTwo);
    border-radius: 15px;/*bordinhas redondas*/
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    padding: 2%;
    width: 95%; /* largura fixa para quadrados */
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.pet-adocao:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.pet-adocao img {
    width: 11.25rem;
    /*o quanto vai ocupar*/
    height: 11.25rem;
    /*altura*/
    border-radius: 0.50rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding-top: 0.10rem;

}

.info-adocao h2 {
    color: #3e3e3e;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    padding-top: 0.400rem;
}

.info-adocao p {
    color: #555;
    margin-bottom: 0.625rem;
    text-align: center;
}

button {
    background-color: var(--colorFour);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: auto;

    button bnt-ad {
        display: inline-block;
    }
}

button:hover {
    background-color: #19581b;
}

.paginacao-pet button {
    background-color: rgba(152, 81, 23, 0);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--colorFive);
    align-items: center;

}

/*.paginacao-pet {
    padding-bottom: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
}*/

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    gap: 10px;
}

.pagination div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 0.2rem;
}

.pagination div:not(.numbers),
/*os itens que não são os números*/
.pagination div.numbers div {
    width: 40px;
    height: 40px;
}

.pagination div.numbers div:hover,
/*os que são numeros*/
.pagination div.numbers div.active {
    color: var(--colorOne);
    background-color: var(--colorFour);
}

/*Parte do form de adoção*/
.form-adocao {
   /* display: ;*/
    position: absolute;
    width: 60%;
    display: flex;
    align-items: center;
    
    z-index: 10; /*para sobrepor tudo*/

    form{
        background-color:var(--colorSix) ;
        height: 80%;
        width: 60%;
        border-radius: 20px;
        padding: 2rem;
        font-family: 'Nunito', cursive;

        label{
            margin-left: 10%;
            gap: 0.5rem;
        }

        input{
            width: 80%;
            margin-left: 10%;
            height: 1.4rem;
            border: none;
            border-radius: 5px;           
        }

        button{
            font-family: 'Nunito', cursive;
        }
        button:hover{

        }
    }
}