
#form-acesso {
    display: flex;
    margin-top: 30px;
    height: auto;
    width: 380px;
    padding: 25px;
}

#main-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;

}

/*#form-acesso{
    color: white;
    background-color: var(--color9);
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    align-items: stretch;
}

#form-acesso:hover {
    transform: scale(1.1);
    background-color: var(--color9);
}
*/

/*#form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}*/


form{
margin: 8px;
}




.submit-button {
    background-color: var(--color7);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 52px;
    width: 195px;
    height: 42px;
    transition: background-color 0.3s, transform 0.3s;
    
}

#submit-button:hover {
    background-color: #25be4b;
    transform: scale(1.05);
}

.section-form{/*teste de espaçamento*/
    display: flex;
    height: 400px;
}

/*#button-Evento {
    background-color: var(--color8);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 20px ;
    width: 230px;
    height: 50px;
    transition: background-color 0.3s, transform 0.3s;
    
}

#button-Evento:hover{   
     background-color: #25be4b;
    transform: scale(1.05);

}*/
.container {
  perspective: 1000px; 
}

.card {
    margin-top: 20px;
  width: 325px;
  height: 375px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Esconde o verso quando está de costas */
  background: white;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.face p {
    
    color: #585656;
}

#btnEntrar {
    color: var(--color7);
    cursor: pointer;
    font-weight: bold;
}

.face h2 {
  margin-bottom: 10px;
  color: #585656;
}

.face input {
    margin: 5px 27px;
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus,
input:focus-visible {
  outline: none; 
  border-color: var(--color7); 
  box-shadow: 0 0 0 4px rgba(93,52,124,0.12); 
  color: #313030; 
}

.face button {
  width: 60%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  background: #8e44ad;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.face button:hover {
  background: #732d91;
}

.face p span {
  color: #8e44ad;
  cursor: pointer;
  font-weight: bold;
}

.verso {
  transform: rotateY(180deg);
}

.card.virar {
  transform: rotateY(180deg);
}
