
 body {
    height: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Shadows Into Light Two", cursive;
}

main {
    flex: 1;
    width: 100%;
    max-width: 600px;
    
    margin: 3rem auto;
    padding: 2.5rem 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

main h2 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: 600;
    color: #333;
}

input[type="text"],
input[type="tel"],
input[type="file"],
textarea {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
}

textarea {
    resize: none;
    height: 100px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #929b76;
    box-shadow: 0 0 5px rgba(75, 159, 225, 0.3);
}

#preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #929b76;
}

button[type="submit"] {
    background-color: #184e1da6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.9rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #694730;
}

@media (max-width: 480px) {
    main {
        margin: 1.5rem;
        padding: 2rem 1.5rem;
    }

    main h2 {
        font-size: 1.5rem;
    }

    #preview img {
        width: 150px;
        height: 150px;
    }
}