body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  color: #694730;
}

main {
  flex: 1;
  text-align: center;
  padding: 2rem 1rem;
}

button,
.btn-form {
  font-family: "Nunito Sans", sans-serif;
  background-color: #d6ccc5;
  border-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
.btn-form:hover {
  background-color: #7d8664;
}


.grid-pets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
  padding: 1rem;
  
}


.card-pet {
  background: #d6ccc5;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.2s ease
}

.card-pet:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.card-pet img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 1rem;
  text-align: left;
}

.card-info h3 {
  margin: 0 0 0.5rem;
  color: #333;
}

.card-info p {
  margin: 4px 0;
  color: #555;
}

.contato-destaque {
  color: #5d347c;
  font-weight: bold;
}


.data {
  font-size: 0.85rem;
  color: #666;
  margin-top: 0.7rem;
}

.container-form{
  max-width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin: auto;
  padding: 30px 0;
  border-radius: 30px;
  box-shadow:  0 4px 30px rgba(0,0,0,0.09);

}

/* melhora o layout no celular */
@media (max-width: 600px) {
  .card-pet img {
      height: 180px;
  }

  .btn-form {
      width: 100%;
      font-size: 0.95rem;
      padding: 12px;
  }
}