@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');





:root{

--color1: #ec9c6c ;
--color2: #fcb48c ;
--color3: #184e1da6 ;
--color4: #9c765c ;
--color5: #c4ccac ;
--color6: #bc9cd4 ;
--color7: #5d347c ;
--color8: #8964a4 ;
--color9: #c4a6d2 ;
--color10: #929b76 ;
--color11: #694730 ;
--color12: #542f70;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.Logo-principal {
    max-height: 90%;
    min-height: auto;
    min-width: 25%;
    margin: auto;
}

[data-animate] {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-animate].visible {
    opacity: 1;
    transform: translateY(0);
}

[href] {
    color: #ffffff;
}

header {
    background-color: var(--color5);
    height: 200px;
    display: flex;
    align-items: center;
    padding: auto;
    color: white;
}

.Login-header {
    background-color: var(--color3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 35px;
    max-width: 200px;
    min-width: 100px;
    top: 0px;
    right: 0;
    font-size: 16px;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    transition: 0.3s ease;
}

.Login-header.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: 0.3s ease;
}


#login-Access {
    margin: 4px;
}

.section-main {
    padding-top: 50px;
    padding: auto;
    text-align: justify;
    font-size: 18px;
    color: var(--color11);
    margin-bottom: 40px;
    font-family: "Nunito Sans", sans-serif;

}


.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color4);
    height: 50px;
    padding: auto;
    background-attachment: fixed;
    transition: background-color 0.4s ease, backdrop-filter 0.4s ease;
}

.navbar.scrolled {
    backdrop-filter: blur(8px);
    background: rgba(156, 118, 92, 0.7); /*cor com transparência */
}

.menu-hover {
    padding: 8px;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    margin: auto;
}

.menu-hover a {
    color: #fff;
    transition: color 0.3s;
}

.menu-hover:hover,
.menu-hover:active {
    background-color: #fff;
}

.menu-hover:hover a,
.menu-hover:active a {
    color: var(--color4);
}

.menu-hover:hover i,
.menu-hover:active i {
    color: var(--color4);
}

.menu-hover.active {
    background-color: #fff;
}

.menu-hover.active a,
.menu-hover.active i {
    color: var(--color4);
}


main {
    background: linear-gradient(to bottom, rgb(255, 255, 255) 60%, var(--color5) 85%, var(--color10) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    display: block;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

footer {
    position: relative;
    max-width: 100%;
    min-width: auto;
    background-color: var(--color10);
    height: 250px;
    display: flex;
    color: white;
    font-size: 20px;
    padding: 15%;


}

.section-sobre {

    padding: 50px 80px;
    text-align: justify;
    font-size: 18px;
    color: var(--color11);
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    max-width: 87%;
    font-family: "Nunito Sans", sans-serif;

}

.image-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: auto;
}

.section-img {
    position: relative;
    max-width: 240px;
    min-width: 130px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.section-img img {
    max-width: 100%;
    min-width: 05%;
    max-height: 100%;
    min-height: 05%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.img-overlay {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.4s;
    border-radius: 15px;
    font-size: clamp(0.5rem, 1.2vw, 1.5rem);
    color: var(--color11);
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.section-img:hover .img-overlay {
    bottom: 0;
}

.section-depoimentos {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 25px;
    font-family: "Nunito Sans", sans-serif;
    max-width: 87%;
    margin-top: 4%;
}

#title-dep {
    color: var(--color8);
    margin-bottom: 32px;
    text-align: center;

}

.depoimento-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.depoimentos {
    display: flex;
    font-size: 13px;
    color: #424242;
    max-height: 300px;
    gap: 12px;
}

.depoimentos p {
    margin-top: 10px;
}

.perfil {
    height: 70px;
}

.btn-depoimentos {
    max-height: 50%;
    max-width: 70%;
    background-color: var(--color7);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: auto;
    transition: background-color 1s, transform 1s;
}

.btn-depoimentos:hover {
    background-color: #6A3FE0;
    transform: scale(1.1);

}

.container-footer {
    background-color: var(--color10);
    display: flex;
    color: white;
    font-size: 20px;
}

.social-media {
    transition: transform 0.3s;
    margin: 10px;
    display: inline-block;

}

.social-media:hover {
    transform: scale(1.3);

}

.Social-Media {
    margin: auto;
    width: 200px;
    font-size: 12px;
}

.contact-info {
    margin: auto;
    width: 200px;
    font-size: 12px;
}

.contact-info p {
    margin: 8px 0px;
    padding: 10px;
    transition: transform 0.3s;
    margin: 10px;
    display: inline-block;

}

.contact-info p:hover {
    transform: scale(1.3);

}

.copyright {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
}
/* menu hamburger */

.open {
    display: flex;
    flex-direction: column;
}

.navbar-mobile {
    display: none; /* escondido por padrão */
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--color3);
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* quando o JS adiciona .open, o menu aparece */
.navbar-mobile.open {
    display: flex;
}

.navbar-mobile a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3s;
}
/*
.navbar-mobile a:hover {
    background-color: white;
    color: var(--color4);
}*/

.mobile-menu-icon {
    display: none; /* só aparece no mobile */
    position: fixed;
    right: 20px;
    top: 5px;
    z-index: 1000;
    cursor: pointer;
}

/*.mobile-menu-icon button {
    background: none;
    border: none;
    
}*/

.icon-hamb {
    width: 35px;
    transition: 0.3s ease-in-out;
   
}

@media (max-width: 640px) {

    /* esconder menu desktop */
    .navbar {
        display: none;
    }

    /* mostrar botão do menu mobile */
    .mobile-menu-icon {
        display: block;
        left: 0;
        background-color: var(--color3);
        max-width: 50px;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
    }

    /* manter o nav mobile escondido até clicar */
    .navbar-mobile {
        display: none;
    }

    /* quando .open for ativado pelo JavaScript */
    .navbar-mobile.open {
        display: flex;
    }
}

@media (min-width: 640px){
        .navbar-mobile.open {
        display: none;
    }
}
