:root{

--color1: #ec9c6c ;
--color2: #fcb48c ;
--color3: #385c16 ;
--color4: #9c765c ;
--color5: #c4ccac ;
--color6: #bc9cd4 ;
--color7: #5d347c ;
--color8: #8964a4 ;
--color9: #c4a6d2 ;
--color10: #929b76 ;
--color11: #694730 ;

}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

.Text-Logo {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 300;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

[data-animate] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-animate].visible {
  opacity: 1;
  transform: translateY(0);
}

[href]{
    color: #ffffff;
}

header{
    background-color: var(--color5);
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 180px;
    color: white;
    font-size: 50px;
}

.section-main{
    padding: 50px 150px 20px 150px;
    text-align: justify;
    font-size: 18px;
    color: var(--color11);
    margin-bottom: 40px;
    font-family: "Nunito Sans", sans-serif;

}

.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color4);
    height: 50px;
    padding: 0 180px;
    background-attachment: fixed;
    

}

.menu-hover{
    padding: 8px ;
    transition: background-color 0.3s, color 0.3s;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
}

.menu-hover a {
    color: #fff;
    transition: color 0.3s;
}

.menu-hover:hover,
.menu-hover:active {
    background-color: #fff;
}

.menu-hover:hover a,
.menu-hover:active a {
    color: var(--color4);
}

.menu-hover:hover i,
.menu-hover:active i {
    color: var(--color4);
}

.menu-hover.active {
    background-color: #fff;
}

.menu-hover.active a,
.menu-hover.active i {
    color: var(--color4);
}/*ajeitar isso aqui, active nao ta funcionando*/


main{
    background: linear-gradient(to bottom, rgb(255, 255, 255) 60%,var(--color5) 85%,var(--color10) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    display: block;
    align-items: center;
 font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

footer{
    position: relative;
    width: 100%;
    background-color: var(--color10);
    height: 250px;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    font-size: 20px;
    
}




.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;

}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;

}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
    
}

.slide first img{
     box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
    
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
   
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color:var(--color7);
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px ;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

#radio3:checked ~  .navigation-auto .auto-btn3{
    background-color: #fff;
}

#radio4:checked ~  .navigation-auto .auto-btn4{
    background-color: #fff;
}


.Logo-principal{
    height: 230px;
}

.section-sobre{

    padding: 50px 80px;
    text-align: justify;
    font-size: 18px;
    color: var(--color11);
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.5);
    margin: 20px 90px;
    font-family: "Nunito Sans", sans-serif;

}

.image-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 24px;
}

.section-img{
  position: relative;
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

.img-overlay {
    position: absolute;
    left: 0;
    bottom: -100%; 
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.4s;
    border-radius: 15px;
    font-size: 15px;
    color: var(--color11);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.section-img:hover .img-overlay {
    bottom: 0;
}

.section-depoimentos{
    background-color: white;
    padding: 20px 50px;
    text-align: center;  
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
    margin: 0px 70px;
    border-radius: 25px;
    font-family: "Nunito Sans", sans-serif;
}

#title-dep{
    color: var(--color8);
    margin-bottom: 32px;
    text-align: center;
   
}

.depoimento-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.depoimentos{
    display: flex;
    font-size: 13px;
    gap: 16px;
    color: #424242;
}

.depoimentos p{
    margin-top: 10px;
}
.perfil{
    height: 70px;
}

.btn-depoimentos{
    height: 70px;
    width: 290px;
    background-color: var(--color7);
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 0px 15px 100px;
    transition: background-color 1s, transform 1s;
}

.btn-depoimentos:hover {
  background-color: #6A3FE0;
  transform: scale(1.1);
 
}



.container-footer{
    background-color: var(--color10);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    gap: 50px;
}   

.social-media{
    transition: transform 0.3s;
    margin: 10px;
    display: inline-block;
   
}

.social-media:hover{
    transform: scale(1.3);
    
}

.Social-Media{
    margin: 0px 170px;
    width: 200px;
    font-size: 12px;
}

.contact-info{
    margin: 0px 80px;
    width: 200px;
    font-size: 12px;
}

.contact-info p{
    margin: 8px 0px;
    padding: 10px;
    transition: transform 0.3s;
    margin: 10px;
    display: inline-block;
   
}
.contact-info p:hover{
    transform: scale(1.3);
    
}

.copyright{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    
}

